@use "../base/typography";

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    border: 1px solid red;

    .header-content {
        width: 95%;
        border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-box {
            width: 15%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            h1 {
                font-size: typography.$logo-font-size;
                margin: 0;
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            border: 1px solid greenyellow;
            width: 20%;
        }
    }
}