@use "../components/buttons";
@use "../base/colors";

.invitation-section {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: colors.$color-background-gray;
    
    .invitation-header {
        height: 35%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        h2 {
            color: colors.$color-title;
            font-weight: 700;
        }

        h3 {
            color: colors.$color-subtitle;
            font-weight: 400;
        }
    }

    .invitation-btns {
        width: 18%;
        height: 12%;
        display: flex;
        justify-content: space-between;
        
        .btn-invitation-green, .btn-invitation-white {
            @include buttons.btn-small;
            width: 47%;
            font-weight: 400;
        }

        .btn-invitation-white {
            background-color: transparent;
            color: colors.$color-primary;
        }
    }
}