@use "../base/typography";
@use "../base/colors";

.steps {
    padding: 40px 0;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    .steps-header {
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;

        h2 {
            color: colors.$color-title;
        }

        h3 {
            color: colors.$color-title;
        }
    }

    .steps-cards {
        display: flex;
        justify-content: center;
        width: 90%;
        gap: 1%;

    }

    .steps-donor,
    .steps-recipient {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 20vh;
        border-radius: 8px;
        width: 50%;
        background-color: colors.$color-background-gray;

        p {
            color: colors.$color-subtitle;
        }

        ul {
            padding-left: 35px;
        }

        li {
            font-family: typography.$font-primary;
            font-weight: 700;
        }
    }

    .steps-donor {
        h3 {
            color: colors.$color-primary;
            font-weight: 400;
        }
    }

    .steps-recipient {

        h3 {
            color: colors.$color-alternative;
            font-weight: 400;
        }
    }
}