@use "../base/typography";
@use "../base/colors";
@use "../components/cards";

.testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;

    .testimonials-header {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h2 {
            color: colors.$color-title;
            font-weight: 700;
        }

        h3 {
            color: colors.$color-subtitle;
            font-weight: 400;
        }
    }

    .testimonials-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        height: 50%;
    }
}