@use "../base/typography";
@use "../base/colors";

@mixin btn-green-default{
    padding: 18px 34px;
    border: 1px solid;
    border-radius: 6px;
    font-family: typography.$font-primary;
    font-size: typography.$font-size-p;
    background-color: colors.$btn-secondary-bg;
    color: colors.$btn-primary-color;
}

@mixin btn-white-default{
    padding: 18px 34px;
    border: 1px solid colors.$color-alternative;
    border-radius: 6px;
    background-color: transparent;
    font-family: typography.$font-primary;
    font-size: typography.$font-size-p;
    color: colors.$color-alternative;
}



.btn-green-small {

}