@use "../base/typography";
@use "../base/colors";

@mixin btn-green-default{
    padding: 18px 34px;
    border: 1px solid;
    border-radius: 6px;
    font-family: typography.$font-primary;
    font-size: typography.$font-size-p;
    background-color: colors.$btn-primary-bg;
    color: colors.$btn-primary-color;
}

.btn-green-small {

}