@use "../base/typography";
@use "../base/colors";

@mixin btn-default{
    padding: 18px 34px;
    border: 1px solid;
    border-radius: 6px;
    font-family: typography.$font-primary;
    font-size: typography.$font-size-p;
    background-color: colors.$btn-secondary-bg;
    color: colors.$btn-primary-color;
}

@mixin btn-small{
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 6px;
    font-family: typography.$font-primary;
    font-size: typography.$font-size-h5;
    background-color: colors.$btn-primary-bg;
    color: colors.$btn-primary-color;
}