@use "../base/typography";
@use "../base/colors";
@use "../components/buttons";

.product-card {
    border: 3px solid colors.$color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 23%;
    overflow: hidden;
    background-color: colors.$color-background-card;
    border-radius: 8px;
    padding: 0;

    .product-image {
        width: 100%;
        max-width: 100%;
        height: 60%;
        max-height: 60%;
        object-fit: cover;
        display: block;
    }

    .product-info {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40%;

        h4 {
            color: colors.$color-title;
            font-weight: 400;
        }

        p {
            color: colors.$color-subtitle;
            font-weight: 400;
            text-align: center;
        }
    }

    button {
        @include buttons.btn-small;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        margin-bottom: 10px;
    }
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid colors.$color-primary;
    border-radius: 8px;
    width: 20%;
    height: 100%;

    .stars-review {
        gap: 0px;
        height: 5%;
        width: 90%;
    }

    .testimonials-message {
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        p {
            color: colors.$color-subtitle;
            font-weight: 400;
        }

        .user-name {
            color: colors.$color-title;
            font-weight: 700;
        }

        .user-role {
            color: colors.$color-subtitle;
            font-weight: 400;

        }
    }
}