$color-heading:#006aff;
$color-subtitle:#4B5563;

$color-primary:#16A34A;
$color-secondary:#21C05C;
$color-alternative:#2563EB;

$color-background-green:#F0FDF4;
$color-background-gray:#F3F5F8;

$btn-primary-bg:$color-primary;
$btn-secondary-bg:$color-secondary;
$btn-primary-color:#FFFFFF;
$btn-primary-border:$color-primary;