/* Font families */
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

/*Font sizes*/
$font-size-p: 16px;

$font-size-h1-h2: 25px;
$font-size-h3: 25px;
$font-size-h4: 20px;
$font-size-h5: 14px;

/* Headings*/
.h1,
h1 {
  font-family: $font-primary;
  font-size: $font-size-h1-h2;
}

.h2,
h2 {
  font-family: $font-primary;
  font-size: $font-size-h1-h2;
}

.h3,
h3 {
  font-family: $font-secondary;
  font-size: $font-size-h3;
}

.h4,
h4 {
  font-family: $font-secondary;
  font-size: $font-size-h4;
}

.h5,
h5 {
  font-family: $font-secondary;
  font-size: $font-size-h5;
}

/* Parágrafos */
.p,
p {
  font-family: $font-primary;
  font-size: $font-size-p;
}
