@use "components/buttons";

@use "./layout/header";
@use "./layout/hero";
@use "./layout/stats";
@use "./layout/steps";
@use "./layout/products";
@use "./layout/testimonials";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
